@font-face {
    font-family: cgb;
    src: url('../fonts/SFUClearGothicBold.TTF'), url('../fonts/SFUClearGothicBold.eot');
}

@media only screen and (min-width : 1200px) {
    .container {
	    width: 1200px;
	}
}

table.vcenter>tbody>tr>td {vertical-align: middle;}

.text-red{color: #ff0000}

.error{color: #ff0000;}

.site-header{/*background-color: black;*/}

.transition {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

/*MENU*/
/*.custom-toggler.navbar-toggler {
	border-color: rgb(255,102,203);
} */

.navbar-dark .navbar-toggler{
	color: #fff
}
.navbar-dark .navbar-nav .nav-link {
	font-weight: bold;
	color: #fff;
	text-transform: capitalize;
	font-size: 1.1rem;
}

.main-menu {
	background-color: #218037;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #ff0;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding-right: 2rem
}

/*Multiple-menu*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .9em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
/*End Multiple-menu*/
/*END MENU*/

header .logo{width: 100px}

header h1{
	color: #4baa50;
	font-size: 2.3rem;
	font-weight: bold;
	text-transform: uppercase;
}

header slogan{
	text-transform: uppercase;
}
header h1 span{
	color: #fe9705;
}

header .text-1{
	color: #4baa50;
}

header .text-2{
	color: #99530e;
	font-size: 1.1rem
}

header .text-3{
	color: #03037b;
	font-size: 1.1rem
}

header .btn-call{
	background-color: #fe9705;
	border-radius: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
header .btn-call:hover{
	background-color: #FDA94F;
	color: #fff;
}

.hot-slider{
	background-color: #eff3ef;
	padding: 1.5rem 0;
}


.product-item figure{margin-bottom: 0}
.product-item figure figcaption{margin-top: .5rem}

.product-item a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.product-item a:hover{
	color: #28a745;
}

.product-item .price, .product-item .price a{
	color: #e60000;
	font-weight: bold;
}

.product-item .price a:hover{
	color: #e60000;
}



/*POST*/
.post-item h4{
	font-size: 1rem;	
}
.post-item a{
	font-size: 1rem;
	text-decoration: none;
	color: #000
}

.post-item a:hover{color: #28a745;}

.post-item img{
	margin-right: 0.75rem;
	width: 124px;
	height: 82px;
}

.post-item p{
	color: #6f6f6f;
    font-family: tahoma;
    font-size: 14px;
}

.post-detail h1{
	font-size: 1.75rem;
}

.post-detail .follow{
	color: #757575;
}
/*END POST*/

/*PRODUCT*/
.main-cat h2{
	background: #4bac4d;
    border-radius: 5px;
    position: relative;
    padding: 10px 0px 10px 40px;
    margin-bottom: -10px;
    margin-left: 10px;
}

.main-cat h2:after{
	content: '';
    position: absolute;
    background: url('../images/icon-title.png') no-repeat;
    width: 39px;
    height: 39px;
    top: -1px;
    left: -13px;
}

.main-cat h2{
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 0
}

.main-cat .main-cat-content{
	border: 1px solid #4bac4d;
    border-radius: 5px;
    padding: 15px 10px 0;
    margin-top: -11px;
}

.main-cat ul li.list-group-item{
    list-style: none;
    background: url('../images/icon-list.png') left 17px no-repeat;
    padding: 0;
}

/*.main-cat ul li{
    list-style: none;
    padding: 0;
}*/

.main-cat ul li.list-group-item>a{
    text-decoration: none;
    color: #000;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
   	padding: .75rem 0;
   	padding-left: 28px;
}

.main-cat ul li a:hover{color: #28a745}

.main-product h3{
	position: relative;
	font-size: 30px;
	color: #1a6e00;
	text-transform: uppercase;
	font-family: cgb
}

.main-product h3:after {
    content: '';
    position: absolute;
    background: #fe9705;
    width: 100px;
    height: 3.5px;
    bottom: -10px;
    left: 0;
}

.main-cat-content.main-support{
	background-color: #f5f5f5
}

.main-support .phone{
	background-color: #ce0000;
}

.main-support .phone img, .main-support .phone p{
	display: inline-block;
}

.main-support .phone p{
	font-size: 20px;
	color: yellow;
	margin-bottom: 0;
	line-height: 1;
	font-weight: bold;
	font-family: hel;
	vertical-align: middle;
}

.main-support .phone p span{
	font-size: 24px;
}

.main-support .box-support a{
	text-decoration: none;
	color: #000;
}

.main-support .box-support a:hover{
	color: #28a745;
}

.main-support .box-support a.phone-number{
	font-size: 1.5rem;
	font-weight: bold;
	color: #ce0000;
	font-family: robotobl;
}
.main-product .product-item figure img{
	border: 1px solid #928888;
	padding: 3px
}

.product-detail .price{
	font-size: 1.5rem
}
.product-detail .price span{
	color: #e60000;
	font-weight: bold;
}
.product-detail .add_to_cart{
	background-color: #e60002;
	color: #fff;
	padding: 10px 15px;
	font-size: 20px;
}

.product-detail .add_to_cart:hover{
	background-color: #23a21b;
}

.product-detail .product-tab_content{
	border-top: solid 5px #018c39;
	border-left: solid 1px #018c39;
	border-right: solid 1px #018c39;
	display: inline-block;
	padding: 5px 15px;
	color: #28a745;
	font-size: 18px;
}
.product-detail .product-content{
	border: solid 1px #018c39
}
/* END PRODUCT*/


.search_rs span{
	color: #ff0000;
}

.bg-contact{
	background: url('../images/bg_2.jpg') no-repeat;
	background-size: cover;
}


.reg-form{
	border: 3px solid #fe9705 !important;
    margin: 0px 0px 20px 0px !important;
    padding: 0px 32px 10px !important;
    border-radius: 20px;
}

.reg-form legend{
	width: initial;
    padding: 0px 10px !important;
    font-size: 30px;
    font-family: cgb;
    color: #fff;
}

.reg-form .btn-contact{
	padding: 6px 15px;
	margin-bottom: -38px;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold
}


.main_news h4{
	background-color: #28a745;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	padding: 12px;
	margin-bottom: 0;
}

.main_news .blog img{
	width: 100px;
	margin-right:1rem; 
}

.main_news .blog img{
	width: 100px;
	margin-right: .75rem; 
}

.main_news .blog h5 a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.main_news .blog h5 a:hover{color: #28a745;}

.main_news .blog p{
	color: #6f6f6f;
    font-family: tahoma;
    font-size: 14px;
    margin-bottom: 0
}

.vert{
	width: auto;
	padding-top: .75rem;
	background-color: #f5f5f5
} 
.vert .simply-scroll-clip {
    width: auto;
}

.vert .simply-scroll-clip li{
    width: auto;
    height: auto;
    margin-bottom: 1rem
}

.vert .simply-scroll-list {
	background-color: #f5f5f5
}

.ajax_video{
	background-color: #f5f5f5
}


.post-slider{background-color: #f5f5f5;}

.post-slider h5{line-height: 1}

.post-slider h5 a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
.post-slider h5 a:hover{color: #28a745;}

.bgdate{
	background-color: #28a745;
	color: #fff;
	position: relative;
	font-family: tahoma;
	padding: 8px 3px;
	font-size: 14px;
	line-height: 1.2;
	margin-top: -24px;
	margin-right: .5rem;
	margin-bottom: 22px;
}

.bgdate strong{
	background-color: #28a745;
	font-size: 1.7rem;
}

.bgdate:after {
    content: '';
    position: absolute;
    background: url('../images/after-date.png');
    background-size: 100% 100%;
    height: 22px;
    top: 100%;
    left: 0;
    right: 0;
}


/*Cart*/
.cart .cart-info{
	border: 1px solid #018c39;
	border-radius: 5px;
}

.cart .cart-contact{
	border: 1px solid #018c39;
	border-radius: 5px;
}
/*End Cart*/
/*Contact*/
.contact-page a{text-decoration: none;}
.contact-page .contact-form h4{
	font-size: 18px;
	color: #28a745;
	border-bottom: 1px solid #eee;
	font-weight: bold;
}

/*FOOTER*/
.footer-area{
	background-color: #28a745;
	color: #fff;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
	font-family: verdana, geneva, sans-serif
}

.footer-area h2{
	font-size: 1.5rem;
	font-weight: bold
}

.footer-area h2.footer-title{
	color: #FFD700;
	text-transform: uppercase;
}

.footer-area a{
	text-decoration: none;
	color: #fff
}
/*END FOOTER*/