/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.text-red{color: #ff0000;}
table.vcenter>tbody>tr>td{
    vertical-align: middle;
}
/*

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #ff0000;
}

.has-error .form-control {
    border-color: #ff0000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
*/


.has-error input[type=text], .has-error input[type=text]+.input-group-addon {
    border-color: #ff0000;
}

.has-error .help-block, .has-error .form-control{
    border-color: #ff0000;
}

.has-error .help-block{
	color: #ff0000;
}

.options-container .options-overlay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    will-change: opacity,transform;
}

.options-container:hover .options-overlay {
    opacity: 1;
    visibility: visible;
}

.bg-black-75 {
    background-color: rgba(0,0,0,.75)!important;
}

.badge-info {
    color: #fff;
    background-color: #3c90df;
}

.badge-success {
    color: #fff;
    background-color: #82b54b;
}

.badge-danger {
    color: #fff;
    background-color: #e04f1a;
}

/*.options-container .options-overlay .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/

.options-container .options-overlay .badge {
    display: inline-block;
    padding: .25em .5em;
    margin: 0 .2em;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*
.options-container .options-overlay .badge {
    padding: .25em .5em;
    margin: 0 .2em;
    font-size: 1.5rem;
    border-radius: .25rem;
}*/